html {
    scroll-behavior: smooth;
}

body {
    background-color: #D2E3C8;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;


}

h1, h2, h3 {
    text-align: center;
    text-shadow: #D2E3C8;
    color: white;
    font-family: 'Sacramento', cursive;
  }

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-color: green;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}

div.img {
    
}

img {
    border-radius: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    max-width: 100%;
}

img:hover {
    border-radius: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    max-width: 100%;
}

div.img_text {
    text-align: center;
    padding: 10px 20px;
  }

a:hover {
    color: red;
  }

.first_box {
    background-color: #86A789;
    padding: 15px;
    margin: 0 10% 0 10%;
    width: auto;
 /*   box-align: center;  --> FLEXBOX!!! */
}

fieldset {
    user-select: none;
/*    cursor: pointer; */
    padding: 5px;
    margin: 10px;
}

iframe {
    display:block;
    margin: 0 auto 0 auto;
}

.boxes{
    margin: 0 auto 0 auto;
    background-color: gray;
    width: 560px;
    
}

.box1 {
    background-color: red;
    width:150px;
    height: 20px;
    border: solid 2px;
    text-align: center;
    padding: 10px;
    margin: 0 auto 0 auto;
    position: relative;
    right: 174px;
}

.box2 {
    background-color: white;
    width:150px;
    height: 20px;
    border: solid 2px;
    text-align: center;
    padding: 10px;
    margin: 0 auto 0 auto;
    position: relative;
}

.box3 {
    background-color: green;
    width:150px;
    height: 20px;
    border: solid 2px;
    text-align: center;
    padding: 10px;
    margin: 0 auto 0 auto;
    position: relative;
    left: 174px;
}
/*
span {
    width: 115px;
    display: inline-block;
}

p {
    display: inline;
}

.none {
    display: none;
    visibility: hidden;
}
*/

table {
    margin: 0 auto 0 auto;
}

.blackbox{
    margin: auto;
    background-color: black;
    width: 560px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-white {
    color: white;
 }